@model IEnumerable<TopTrumps.Models.Attributes>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Deckid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attr1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attr2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attr3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attr4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Attr5)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deckid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attr1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attr2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attr3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attr4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attr5)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
